<!DOCTYPE html>
<html lang="en">
{% spaceless %}
  {# Boycott Paper, (c) John Mullanaphy (john@jo.mu) 2014, Licensed with OSL 3.0 #}
  {% load site %}
  <head>
    {% block head %}
      <meta charset="utf-8">
      <title>{% site "title" %}</title>
      {% block head_trackers %}
        {% google_analytics %}
      {% endblock %}
      {% load staticfiles %}
      {% block head_css %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/core.min.css' %}" type="text/css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css">
      {% endblock %}
      {% block head_js %}
        <script type="text/javascript">if(window.location.hash.toString().match('!')){window.location=window.location.hash.toString().split('!')[1]}</script>
        <script type="text/javascript" data-main="{% static 'js/core.min.js' %}" src="{% static 'js/require.min.js' %}"></script>
      {% endblock %}
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% block head_meta %}
        <link rel="author" content="{% block head_meta_google %}https://plus.google.com/+JohnMullanaphy{% endblock %}">
        <meta name="description" content="{% block head_meta_description %}{% site "description" %}{% endblock %}">
        <meta name="author" content="{% block head_meta_author %}{% site "author" %}{% endblock %}">
        {% block head_meta_facebook %}{% endblock %}
      {% endblock %}
      <link rel="shortcut icon" href="/media/favicon.png">
    {% endblock %}
  </head>
  <body>
  <div class="container">
    <div class="text-center logo hidden-sm hidden-xs"><img alt="{% site 'title' %}" src="/media/generic/logo.jpg"></div>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand hidden-md hidden-lg" href="{% url 'generic.views.index' %}">{% site 'title' %}</a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-dropdown">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse navbar-dropdown">
        <ul class="nav navbar-nav">
          {% url 'generic.views.index' as home %}
          {% url 'comic.views.index' as archives %}
          {% url 'generic.views.about' as about %}
          <li{% if home == path %} class="active"{% endif %}><a href="{{ home }}">Latest</a></li>
          <li{% if archives == path %} class="active"{% endif %}><a href="{{ archives }}">Archives</a></li>
          <li{% if about == path %} class="active"{% endif %}><a href="{{ about }}">About</a></li>
          <li><a href="{% site 'patreon' %}" class="">Support</a></li>
        </ul>
        <form action="{% url 'generic.views.search' %}" class="navbar-form navbar-right" role="search">
          <div class="input-group">
            <div class="form-group">
              <input type="text" class="form-control" name="q" placeholder="Search" value="{{ request.GET.q }}">
            </div>
            <div class="input-group-btn">
              <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </nav>
    {% block content %}{% endblock %}
    <footer class="footer">{% block copyright %}
      <div class="pull-left">{% site "copyright" %}{% endblock %}</div>
      {% social_media %}
    </footer>
  </div>
  {% block foot_js %}{% endblock %}
  {% addthis_init %}
  </body>
  </html>
{% endspaceless %}
