{% extends "base.html" %}
{# Boycott Paper, (c) John Mullanaphy (john@jo.mu) 2014, Licensed with OSL 3.0 #}
{% load site %}

{% block title %}{{ comic.title }} | {{ block.super }}{% endblock %}

{% block head_meta_description %}{{ comic.description }}{% endblock %}

{% block head_meta %}
  {{ block.super }}
  <link rel="canonical" href="{% site "url" %}{% url 'comic.views.load_by_slug' comic=comic.slug _format='html' %}}">
{% endblock %}
{% block head_meta_facebook %}
  <meta property="og:site_name" content="{% site "title" %}">
  <meta property="og:title" content="{{ comic.title }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{% site "url" %}{% url 'comic.views.load_by_slug' comic=comic.slug _format='html' %}">
  <meta property="og:image" content="{% site "url" %}{{ comic.panel_set.all.0.source.url }}">
  <meta property="og:description" content="{{ comic.description }}">
  <meta property="article:author" content="https://www.facebook.com/mullanaphy">
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <ul class="pagination">
        {% if previous_comic %}
          <li><a href="{% url 'comic.views.first' %}"><span class="hidden-xs">First</span><span class="visible-xs">&laquo;&laquo;</span></a></li>
          <li><a href="{% url 'comic.views.load_by_slug' comic=previous_comic.slug _format='html' %}"><span class="hidden-xs">Previous</span><span class="visible-xs">&laquo;</span></a></li>
        {% else %}
          <li class="disabled"><a href="javascript:void(0);"><span class="hidden-xs">First</span><span class="visible-xs">&laquo;&laquo;</span></a></li>
          <li class="disabled"><a href="javascript:void(0);"><span class="hidden-xs">Previous</span><span class="visible-xs">&laquo;</span></a></li>
        {% endif %}
        {% if next_comic %}
          <li><a href="{% url 'comic.views.load_by_slug' comic=next_comic.slug _format='html' %}"><span class="hidden-xs">Next</span><span class="visible-xs">&raquo;</span></a></li>
          <li><a href="{% url 'comic.views.latest' %}"><span class="hidden-xs">Latest</span><span class="visible-xs">&raquo;&raquo;</span></a></li>
        {% else %}
          <li class="disabled"><a href="javascript:void(0);"><span class="hidden-xs">Next</span><span class="visible-xs">&raquo;</span></a></li>
          <li class="disabled"><a href="javascript:void(0);"><span class="hidden-xs">Latest</span><span class="visible-xs">&raquo;&raquo;</span></a></li>
        {% endif %}
      </ul>
    </div>
    <div class="col-md-6 hidden-xs text-right">
      <h2>{{ comic.title }}</h2>
    </div>
    {% with comic.panel_set.all as panels %}
      {% if panels|length > 1 %}
        {% for panel in comic.panels %}
          <div class="comic-panel col-lg-3 col-md-6 col-sm-12">
            <img alt="{{ panel.alt }}" src="{{ panel.source.url }}">
          </div>
        {% endfor %}
      {% elif panels|length == 1 %}
        {% with panels|first as panel %}
          <div class="comic-panel col-lg-12 text-center"><img alt="{{ comic.title }}" class="img-responsive" src="{{ panel.source.url }}">
          </div>
        {% endwith %}
      {% else %}
        <div class="comic-panel col-lg-12">Panels missing... Sorry about that...</div>
      {% endif %}
    {% endwith %}
    <div class="col-xs-12 col-md-6">
      <ul class="pagination">
        {% if previous_comic %}
          <li><a href="{% url 'comic.views.first' %}"><span class="hidden-xs">First</span><span class="visible-xs">&laquo;&laquo;</span></a></li>
          <li><a href="{% url 'comic.views.load_by_slug' comic=previous_comic.slug _format='html' %}"><span class="hidden-xs">Previous</span><span class="visible-xs">&laquo;</span></a></li>
        {% else %}
          <li class="disabled"><a href="javascript:void(0);"><span class="hidden-xs">First</span><span class="visible-xs">&laquo;&laquo;</span></a></li>
          <li class="disabled"><a href="javascript:void(0);"><span class="hidden-xs">Previous</span><span class="visible-xs">&laquo;</span></a></li>
        {% endif %}
        {% if next_comic %}
          <li><a href="{% url 'comic.views.load_by_slug' comic=next_comic.slug _format='html' %}"><span class="hidden-xs">Next</span><span class="visible-xs">&raquo;</span></a></li>
          <li><a href="{% url 'comic.views.latest' %}"><span class="hidden-xs">Latest</span><span class="visible-xs">&raquo;&raquo;</span></a></li>
        {% else %}
          <li class="disabled"><a href="javascript:void(0);"><span class="hidden-xs">Next</span><span class="visible-xs">&raquo;</span></a></li>
          <li class="disabled"><a href="javascript:void(0);"><span class="hidden-xs">Latest</span><span class="visible-xs">&raquo;&raquo;</span></a></li>
        {% endif %}
      </ul>
    </div>
    <div class="text-right col-md-6 hidden-xs">{% addthis_toolbox %}</div>
  </div>
{% endblock %}
