{% extends "base.html" %}
{# Boycott Paper, (c) John Mullanaphy (john@jo.mu) 2014, Licensed with OSL 3.0 #}

{% block title %}{{ comic.title }} | {{ block.super }}{% endblock %}

{% block content %}
  <h1>About</h1>
  <p>There's not too much to say about this comic or myself really but I'll try and add any background info I can just in case.</p>
  <p>As far as I'm concerned most comics can suffice as one or four panels thanks to a childhood filled with <a href="http://en.wikipedia.org/wiki/The_Far_Side">The Far Side</a> and <a href="http://www.gocomics.com/calvinandhobbes/">Calvin and Hobbies</a>. So majority of my comics will be in one of those two formats, sometimes a story may need a different amount yet that should be the norm here.</p>
  <p>You'll also probably find some influences from The Far Side in my comics and for that I apologize for nothing. So, please enjoy my comics and if you like what I write please consider supporting the comic if you can at <a href="http://www.patreon.com/boycottpaper">Patreon</a>.</p>
{% endblock %}
