{% extends "base.html" %}
{# Boycott Paper, (c) John Mullanaphy (john@jo.mu) 2014, Licensed with OSL 3.0 #}

{% block title %}Latest Comics | {{ block.super }}{% endblock %}

{% block content %}
  {% if collection %}
    <div class="row">
      <div class="col-lg-offset-2 col-lg-8 col-lg-offset-2 text-center">
        {% for comic in collection %}
          {% with comic.panel_set.all as panels %}
            <h2>
              <a
                  href="{% url 'comic.views.load_by_slug' comic=comic.slug _format='html' %}">{{ comic.title }}</a>
            </h2>
            {% if panels|length > 1 %}
              {% for panel in comic.panels %}
                <div class="row">
                  <div class="comic-panel col-lg-3 col-md-6 col-sm-12">
                    <img alt="{{ panel.alt }}" src="{{ panel.source.url }}">
                  </div>
                </div>
              {% endfor %}
            {% elif panels|length == 1 %}
              {% with panels|first as panel %}
                <img alt="{{ comic.title }}" class="img-responsive text-center" src="{{ panel.source.url }}">
              {% endwith %}
            {% else %}
              Panels missing... Sorry about that...
            {% endif %}
          {% endwith %}
          <hr>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <p>No comics are available.</p>
  {% endif %}
{% endblock %}
