{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-lg-9">
            <div class="jumbotron">
                <h1>Boycott Paper!</h1>

                <p>There has been a tree genocide going on way too long. Sure, we might be planting more than we consume
                    but still, that's a crap ton of murder. MURDER! Can you sleep with that? I know I can.</p>

                <p>See what's going on there? Non sequitors? Yeah, that's going to be a common theme among the comics on
                    this site. So if you have a problem with that then too bad, that's your problem.</p>
            </div>
        </div>
        <div class="col-lg-3">
        </div>
    </div>
{% endblock %}
